<div class="alert alert-dark alert-warning alert-dismissible fade show" role="alert">
	<!div class="position-relative">
		<!div class="position-absolute top-10 start-50">
		  <strong><%= notice %></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  	<!/div>
	 <!/div>
</div>